.home-content {
  width: 100%;
  height: 100vh;
  position: relative;
}

.head {
  padding-top: 2vh;
  h1 {
    font-size: 25px;
    text-align: center;
  }
  span:hover {
    color: white;
    cursor: pointer;
  }
  span:active {
    color: white;
  }
}

.content {
  padding: 10px;
  padding-left: 4vh;
  padding-right: 4vh;
}

.sous-menu {
  position: relative;
}

#studio {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  padding: 30px;
  flex-direction: column;
}

#production {
  position: absolute;
  top: 10px;
  left: 40%;
  display: none;
  padding: 30px;
  flex-direction: column;
}

#contact {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  padding: 30px;
  flex-direction: column;
}


#vid {
  position: absolute;
  top: 0;
  z-index: -1;
  video {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}