.border {    
    font-family: fantasy;
    padding: 145px;
    padding-left: 249px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: gainsboro;
}

.email-maintenance {
    background-color: white;
    padding: 40px;
    border-radius: 6px;
}