<div class="footer d-flex">
  <%= link_to "http://www.facebook.com", :target => "_blank" do %>
    <i class="fab fa-facebook-f"></i>
  <% end %>
  <%= link_to "http://www.instagram.com", :target => "_blank" do %>
    <i class="fab fa-instagram"></i>
  <% end %>
  <%= link_to "#", :target => "_blank" do %>
    <i class="far fa-envelope"></i>
  <% end %>
  <%= link_to "#", :target => "_blank" do %>
    <i class="fas fa-balance-scale"></i>
  <% end %>
</div>