
<div id="vid" >
  <%#= cl_image_tag("sample.jpg",
      width: 400, height: 300, crop: :fill) %>
  <video autoplay="autoplay" loop="loop" muted="muted" poster="http://res.cloudinary.com/dmx57r4u7/video/upload/v1/production/komodo/ShowReel_KomodoProd_2019_z0jogq.jpg" src="http://res.cloudinary.com/dmx57r4u7/video/upload/v1/komodo/ShowReel_KomodoProd_2019_z0jogq.mp4"></video>
  <%#= cl_video_tag("komodo/ShowReel_KomodoProd_2019_z0jogq.mp4", :source_types => :mp4, :controls => false, :autoplay => true, :loop => true, :muted => true) %>
  <%#= video_tag 'video/innodis', controls: false, type: 'video/mp4', loop: :loop, muted: :muted %> 
  <%#= video_tag 'video/vid', controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted %>
</div>
