
<div id="vid" >
  <%= cl_image_tag("nmrdfth9jwlwix2b79ks",
      width: 400, height: 300, crop: :fill) %>
  <%= cl_video_tag("https://res.cloudinary.com/dmx57r4u7/video/upload/v1643726673/komodo/Ajouter_un_titre_k3p3h8.mp4", :source_types => :mp4, :controls => false, :autoplay => true, :loop => true, :muted => true) %>
  <%#= video_tag 'video/innodis', controls: false, type: 'video/mp4', loop: :loop, muted: :muted %> 
  <%#= video_tag 'video/vid', controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted %>
</div>
