<<<<<<< HEAD
<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <%= video_tag 'video/vid', controls: false, type: 'video/mp4', loop: :loop, muted: :muted %> 
  <%#= video_tag 'video/vid', controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted %>
</div>











=======
<div class="home-content">
  <div class="home-video">
    <video width="100%" height="100%", autoplay: :autoplay, loop: :loop, mute: :mute playsinline src="https://player.vimeo.com/external/299222419.hd.mp4?s=07e15d92e1b3000b7aae8478884ee2530e11e60d&profile_id=175&oauth2_token_id=1105776076"></video>
  </div>
  <div class="title">
    <h1>Komodo Prod</h1>
  </div>
</div>
>>>>>>> 2e2a48c8a499c3f5911c1a55ca5d900e891de4c9
