<div class="border">
	<div class="image-maintenance">
		<div class="email-maintenance">
			<p>Site en construction</p><br>
			<p>Pour toute information, merci de nous contacter par mail à l'adresse mail:</p><br>
			<p>info@komodoprod.com</p><br>
			<p>Merci</p>
		</div>
	</div>
</div>