<div class="border">
	<div class="image-maintenance">
		<div class="email-maintenance">
			<p>Site en maintenance</p><br>
			<p>Pour toute information, merci de nous contacter à l'adresse mail:</p><br>
			<p><strong>info@komodoprod.com</strong></p><br>
			<p>Merci</p>
		</div>
	</div>
</div>